<!DOCTYPE html>
<HTML lang="en">
	<head>
		<TITLE>AirBnB clone</TITLE>

		<link rel="shortcut icon" href="static/images/icon.png" >

		<link rel="stylesheet" href="static/styles/4-common.css"/>
		<link rel="stylesheet" href="static/styles/3-header.css"/>
		<link rel="stylesheet" href="static/styles/3-footer.css"/>
		<link rel="stylesheet" href="static/styles/6-filters.css"/>
		<link rel="stylesheet" href="static/styles/8-places.css"/>
	</head>
    <BODY>
		<HEADER>
			<div id="header_logo"></div>
		</HEADER>
		<DIV class="container">
			<SECTION class="filters">
				<button>Search</button>
				<DIV class="locations">
					<H3>States</H3>
					<H4>&nbsp;</H4>
					<UL class="popover">
                        {% for state in states|sort(attribute="name") %}
                        <li><h2>{{state.name}}</h2>
                            <UL> {% for city in state.cities|sort(attribute="name") %}
                                <li><h4>{{city.name}}</h4></li>
                                {% endfor %}
                            </UL>
                        </LI>
                        {% endfor %}
                    </UL>
				</DIV>
				<DIV class="filter_amenities">
					<H3>Amenities</H3>
					<H4>&nbsp;</H4>
					<UL class="popover">
                        {% for amenity in amenities %}
                        <LI><h4>{{amenity.name}}</h4></LI>
                        {% endfor %}
                    </UL>
				</DIV>

			</SECTION>
			<SECTION class="places">
				<H1>Places</H1>
				{% for place in places %}
					
				
				<ARTICLE>
					<DIV class="headline">
						<H2 class="article_title">{{place.name|safe}}</H2>
						<DIV class="price_by_night">${{place.price_by_night}}</DIV>
					</DIV>
					<DIV class="information">
						<DIV class="max_guest">
							<DIV class="guest_icon"></DIV>
							<P>{{place.max_guest}} Guests</P>
						</DIV>
						<DIV class="number_rooms">
							<DIV class="bed_icon"></DIV>
							<P>{{place.number_rooms}} Bedroom</P>
						</DIV>
						 <DIV class="number_bathrooms">
							<DIV class="bath_icon"></DIV>
							<P>{{place.number_bathrooms}} Bathroom</P>
						</DIV>
					</DIV>
					<DIV class="user"><B>Owner</B>: {{place.user.first_name}}</DIV>
					<DIV class="description">{{place.description|safe}} </DIV>
				</ARTICLE>
				{% endfor %}
			</SECTION>
		</div>
		<FOOTER>
			<P>Holberton School</P>
		</FOOTER>
	</BODY>
</HTML>
<!-- 				
	</ARTICLE>
				<ARTICLE>
					<DIV class="headline">
						<H2 class="article_title">Tiny house</H2>
						<DIV class="price_by_night">$65</DIV>
					</DIV>
					<DIV class="information">
                        <DIV class="max_guest">
                            <DIV class="guest_icon"></DIV>
                            <P>4 Guests</P>
                        </DIV>
                        <DIV class="number_rooms">
                            <DIV class="bed_icon"></DIV>
                            <P>2 Bedroom</P>
                        </DIV>
                         <DIV class="number_bathrooms">
                            <DIV class="bath_icon"></DIV>
                            <P>1 Bathroom</P>
                        </DIV>
                    </DIV>
					<DIV class="user"><B>Owner</B>: Adrienne</div>
					<DIV class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </DIV>
					<DIV class="amenities">
                        <H2 class="article_subtitle">Amenities</H2>
                        <UL>
                            <LI><DIV class="tv_icon"></DIV>TV</li>
                            <LI><DIV class="wifi_icon"></DIV>Wifi</LI>
                        </UL>
                    </DIV>
                    <DIV class="reviews">
                        <H2 class="article_subtitle">Reviews</H2>
                        <UL>
                            <LI>
								<DIV class="review_item">
                                	<H3>From Bilbo Baggins the 6th June 2089</H3>
                                	<P class="review_text">The place was spotless, and Adrienne was an excellent host, leaving fresh biscuits out for my ravenous arrival.</P>
								</DIV>
                            </LI>
                        </UL>
                    </DIV>
				</ARTICLE>
				<ARTICLE>
					<DIV class="headline">
						<H2 class="article_title">A suite</H2>
						<DIV class="price_by_night">$180</DIV>
					</DIV>
					<DIV class="information">
                        <DIV class="max_guest">
                            <DIV class="guest_icon"></DIV>
                            <P>5 Guests</P>
                        </DIV>
                        <DIV class="number_rooms">
                            <DIV class="bed_icon"></DIV>
                            <P>3 Bedroom</P>
                        </DIV>
                         <DIV class="number_bathrooms">
                            <DIV class="bath_icon"></DIV>
                            <P>2 Bathroom</P>
                        </DIV>
                    </DIV>
					<DIV class="user"><B>Owner</B>: Betty Holberton</DIV>
					<DIV class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</DIV>
					<DIV class="amenities">
                        <H2 class="article_subtitle">Amenities</H2>
                        <UL>
                            <LI><DIV class="pet_icon"></DIV>Pet friendly</LI>
                        </ul>
                    </DIV>
                    <DIV class="reviews">
                        <H2 class="article_subtitle">Reviews</H2>
                        <UL>
                            <LI>
								<DIV class="review_item">
                                	<H3>From Beyonce Knowles the 16th September 2013</H3>
                                	<P class="review_text">Betty was a sweetheart. Jay, I and the kids thoroughly enjoyed out stay.</P>
								</DIV>
                            </LI>
                            <LI>
								<DIV class="review_item">
                                	<H3>From Julien Barbier the 1th August 2008</H3>
                                	<P class="review_text">What a beautiful home! I had one of the best night's sleeps of my life and woke up with an idea!</P>
								</DIV>
                            </LI>
                        </UL>
                    </DIV>
				</ARTICLE>
 -->